{{#> layout currentPage='my-project'}}
<div class="container mt-3">
  <div style="margin:10px auto; width:700px">
    <h1>{{blogProject.projectName}}</h1>
    <p>Start: {{formatDate blogProject.startDate}} <br>End : {{formatDate blogProject.endDate}}</p>
    <p>Duration: {{countTimeProjectEnd blogProject.endDate blogProject.startDate}}</p>
    <h6>Technology</h6>
    <div class="iconTech">
      <img src="/assets/img/node.png" alt="icon" style="display:{{techValue (getIndex blogProject.technologys 0)}}; "/>
      <img src="/assets/img/next.png" alt="icon" style="display:{{techValue (getIndex blogProject.technologys 1)}}; "/>
      <img src="/assets/img/react.png" alt="icon" style=" display:{{techValue (getIndex blogProject.technologys 2)}}; "/>
      <img src="/assets/img/type.png" alt="icon" style="display:{{techValue (getIndex blogProject.technologys 3)}}; "/>
    </div>
    <img src="/{{blogProject.image}}" alt="project image" style="width: 700px; height:500px; object-fit:cover; margin:20px 0;">
    <p>{{blogProject.description}}</p>
   
  </div>
</div>
{{/layout}}