{{#> layout currentPage='Project List'}}
 
  <div class="container mt-4">
  <h1 class="text-center">My Project List</h1>
  <div class="text-end">
    {{#if user}}
    <a class="btn text-end" id="btn-black" href="/create-project">Create Project</a> 
    {{/if}}
  </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 mt-3 p-2 g-4" id="contentProject" style="background-color: #f3f3f3;">
      {{#each blogProject }}
      
      <div class="col mb-2">
        <div class="card h-100">
          <img src="{{this.image}}" class="card-img-top" alt="Image" />
          <div class="card-body">
            <a href="/detail-project/{{this.id}}" style="text-decoration:none;">
              <h5 class="card-title">{{this.projectName}}</h5>
            </a>
            <p style="font-weight:500; font-size:15px;">Start Date: {{formatDate this.startDate}}<br> End Date: {{formatDate this.endDate}}
            </p>
            <span style="font-size: 14px;">Project From: {{this.user.name}}</span>
            <p style="font-size: 13px;"><i>Duration: {{countTimeProjectEnd this.endDate this.startDate}}</p></i>
            <p class="card-text">{{this.description}}</p>

            <div class="iconTech">
              <img src="/img/node.png" alt="icon" style="display:{{techValue (getIndex this.technologys 0)}}; "/>
              <img src="/img/next.png" alt="icon" style="display:{{techValue (getIndex this.technologys 1)}}; "/>
              <img src="/img/react.png" alt="icon" style=" display:{{techValue (getIndex this.technologys 2)}}; "/>
              <img src="/img/type.png" alt="icon" style="display:{{techValue (getIndex this.technologys 3)}}; "/>
            </div>
            <p style="font-size: 10px; text-align:end;"><i>last edited: {{formatDate this.updatedAt}} </i></p>
            {{#if (equal ../user.id this.authorId)}}
              <a href="/edit-project/{{this.id}}" class="btn btn-primary" style="width: 45%;">edit</a href="/edit-project/{{@index}}">
              <form action="/my-project/{{this.id}}?_method=DELETE" method="post" style=" display: inline; ">
               <button onclick="return confirm('Are you sure want to delete')" class="btn btn-danger" type="submit" style="width: 50%;">delete</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
      
      {{/each}}
    </div>
{{/layout}}